.nav {
  background-color: white;
  padding: 1% 2%;
  justify-content: space-between;
  color: #696969;
  font-size: 20px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0px 5px;
}

.calendar{
  margin: 0px 0px 0px 5px;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.7;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
