body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'San Francisco', sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #fafafa;
  flex-direction: column;
}

.nav, .grid{
  display: flex;
  flex-direction: row;
}
